:root {
    /* sets 1rem to 10px, allowing for easy, accessible rem sizing  */
    font-size: 62.5%;
}

* {
    font-family: 'Teko', sans-serif;
    text-align: center;
    font-size: 2.4rem;
}

header {
    background-color: #FFF701;
    color: black;
}

h1 {
    font-style: italic;
    font-size: 8rem;
    padding: 2rem;
    margin: auto;
    text-align: center;
}

body {
    background-color: black;
    color: #FFF701;
}

#scoreboard {
    border: 5px solid #FFF701;
    margin: 20px auto;
    width: 28%;
    height: 100px;
    border-radius: 5px;
    font-size: 5rem;
    position: relative;
}

p {
    display: inline-block;
    font-size: 8rem;
    position: relative;
    bottom: 130px;
}

.label {
    display: inline-block;
    font-weight: 700;
    background-color: #FFF701;
    color: black;
    margin: 0;
    padding: 3px;
    border-radius: 5px;
    top: 0.8em;
    position: absolute;
    top: 12px;
}

#user-label {
    left: -25px;  
}

#computer-label {
    right: -35px;
}

.score {
    font-size: 8rem;
    display: inline-block;
    position: absolute;
    top: 12px;
    margin: 0 20px 200px 20px;
}

#player-score {
    left: 45px;
}

#computer-score {
    right: 45px;
}

.result {
    font-size: 5rem;
}

button {
    border: 10px solid #FFF701;
    border-radius: 50%;
    margin: 20px 10px 0 10px;
    outline: none;
    overflow: hidden;
    background: white;
    justify-content: center;
    padding-bottom: 10px;
}

button:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 0 10px #FFF701;
}

.loss {
    border-color: #EF233C;
    box-shadow: 0 0 10px 10px #EF233C;
}

.win {
    border-color: #3F7D20;
    box-shadow: 0 0 10px #3F7D20;
}
